{include file="template/header" /}

<div class="page-header">
    <h1>安装 KurBlog</h1>
</div>

<div>
    <p>KurBlog 现在已经安装成功了，请尽情使用吧！</p>

    <ul>
        <li>如果遇到任何使用问题，欢迎您前往 <a href="http://www.kurblog.com">KurBlog</a> 的官网向我们反馈。</li>
        <li>为了安全起见，安装完成后，请在FTP中及时删除 <code>application\install</code>目录。</li>
    </ul>

    <br/>
    <a href="/" class="btn btn-default">访问前台</a>
    <a href="{:url('admin/index/index')}" class="btn btn-primary">前往后台</a>
</div>


{include file="template/footer" /}
