<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>仪表盘 - {$setting.blog_name}</title>
    <link rel="stylesheet" href="/static/common/css/bootstrap.css">
    <link rel="stylesheet" href="/static/common/css/dashboard.css">
    <link rel="stylesheet" href="/static/admin/css/common.css">
    <script src="/static/common/js/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">{$setting.blog_name}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">首页</a></li>
                <li><a href="/admin/setting/profile">个人信息</a></li>
                <li><a href="/admin/login/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {php}
                /**   左侧导航   **/
                foreach($navBar as $t_list){
                    echo '<ul class="nav nav-sidebar">';
                        foreach($t_list as $t_row){
                            if(empty($nav_cur) && $t_row[0]=='home'){
                                $t = ' class="active"';
                            }else{
                                $t = @$nav_cur==$t_row[0] ? ' class="active"' : '';
                            }
                            echo '<li'.$t.'><a href="'.$t_row[1].'">'.$t_row[2].'</a></li>';
                        }
                    echo '</ul>';
                }
            {/php}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
