body {
    /*font-family: "Microsoft YaHei";*/
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0
}

.clearfix:before,
.clearfix:after {
   display: table;
   content: " ";
}
.clearfix:after {
clear: both;
}
.clearfix{
*zoom: 1;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

pre {
    white-space: pre-wrap !important;
}

/*pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

a:link {
    color: #878c93;
    text-decoration: none
}

a:visited {
    color: #878c93;
    text-decoration: none
}

a:active {
    color: #878c93;
    text-decoration: none
}

a:hover {
    color: #878c93;
    text-decoration: none
}

a:focus {
    color: #878c93;
    text-decoration: none
}

a,a:visited {
    color: #878c93;
}

a:focus,a:hover,a:visited:focus,a:visited:hover {
    color: #878c93;
    text-decoration: none
}
/* animation */
table,td,span,li,b {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* animation-end */
/*滚动条*/
::-webkit-scrollbar {
    width: 10px;
    height: 5
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50,50,50,.5)
}

::-webkit-scrollbar-track {
    background-color: rgba(50,50,50,.05)
}
/*选中文字背景*/
::selection {
    color: #fff;
    background: #2800d7
}

*,:after,:before {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0
}

.left {
    float: left
}

.right {
    float: right
}

img {
    display: block
}

.text-center {
    text-align: center
}

button {
    outline: 0
}

.grid-1 {
    width: 8.33333333%
}

.grid-2 {
    width: 16.66666667%
}

.grid-3 {
    width: 25%
}

.grid-4 {
    width: 33.33333333%
}

.grid-6 {
    width: 50%
}

.grid-7 {
    width: 58.33333333%
}

.grid-8 {
    width: 66.66666667%
}

.grid-9 {
    width: 75%
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.grid-12 {
    width: 100%
}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.margin-top-10 {
    margin-top: 10px
}

.margin-top-20 {
    margin-top: 20px
}

.margin-top-30 {
    margin-top: 30px
}

.margin-top-40 {
    margin-top: 40px
}

.margin-top-50 {
    margin-top: 50px
}

.margin-top-60 {
    margin-top: 60px
}

.margin-top-70 {
    margin-top: 70px
}

.margin-top-80 {
    margin-top: 80px
}

.margin-top-90 {
    margin-top: 90px
}

.margin-top-100 {
    margin-top: 10px
}

.margin-bottom-10 {
    margin-bottom: 10px
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-30 {
    margin-bottom: 30px
}

.margin-bottom-40 {
    margin-bottom: 40px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.margin-bottom-60 {
    margin-bottom: 60px
}

.margin-bottom-70 {
    margin-bottom: 70px
}

.margin-bottom-80 {
    margin-bottom: 80px
}

.margin-bottom-90 {
    margin-bottom: 90px
}

.margin-bottom-100 {
    margin-bottom: 100px
}

.margin-left-10 {
    margin-left: 10px
}

.margin-left-20 {
    margin-left: 20px
}

.margin-left-30 {
    margin-left: 30px
}

.margin-left-40 {
    margin-left: 40px
}

.margin-left-50 {
    margin-left: 50px
}

.margin-left-60 {
    margin-left: 60px
}

.margin-left-70 {
    margin-left: 70px
}

.margin-left-80 {
    margin-left: 80px
}

.margin-left-90 {
    margin-left: 90px
}

.margin-left-100 {
    margin-left: 100px
}

.margin-right-10 {
    margin-right: 10px
}

.margin-right-20 {
    margin-right: 20px
}

.margin-right-30 {
    margin-right: 30px
}

.margin-right-40 {
    margin-right: 40px
}

.margin-right-50 {
    margin-right: 50px
}

.margin-right-60 {
    margin-right: 60px
}

.margin-right-70 {
    margin-right: 70px
}

.margin-right-80 {
    margin-right: 80px
}

.margin-right-90 {
    margin-right: 90px
}

.margin-right-100 {
    margin-right: 100px
}

.padding-top-10 {
    padding-top: 10px
}

.padding-top-20 {
    padding-top: 20px
}

.padding-top-30 {
    padding-top: 30px
}

.padding-top-40 {
    padding-top: 40px
}

.padding-top-50 {
    padding-top: 50px
}

.padding-top-60 {
    padding-top: 60px
}

.padding-top-70 {
    padding-top: 70px
}

.padding-top-80 {
    padding-top: 80px
}

.padding-top-90 {
    padding-top: 90px
}

.padding-top-100 {
    padding-top: 100px
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-70 {
    padding-left: 70px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-right-60 {
    padding-right: 60px;
}

.padding-right-70 {
    padding-right: 70px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-right-90 {
    padding-right: 90px;
}

.padding-right-100 {
    padding-right: 100px;
}

@media (min-width: 480px) and (max-width: 767px) {

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    width: 100%;
}

}

@media (max-width: 479px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}