{include file="template/header" /}

<div class="page-header">
    <h1>转换到KurBlog</h1>
</div>

<div>
    现在您的博客可以从WordPress转换到KurBlog了！
    <br/><br/>
    但是有一些注意事项：
    <ul>
        <li>转换程序将会清空您现在的KurBlog的数据，建议您先备份KurBlog的数据库，但不会影响WordPress的数据。</li>
        <li>为了安全起见，转换完成后，请在FTP中及时删除 <code>application\convert</code>目录。</li>
        <li>本工具只会转换文章、页面、分类、链接、评论。</li>
    </ul>

    <br/>
    <a href="/convert/wordpress" class="btn btn-primary">现在就开始？</a>
</div>


{include file="template/footer" /}
